*{
    margin: 0px;
    padding: 0px;
}

.app{
    height: 1080px;
    display: grid;
    grid-template-columns: 290px 815px 815px;
    grid-template-areas: "navbar chats chat";

}
.item{
    border:  1px solid #000;
}
.navbar{
    grid-area: navbar;
}
.chats{
    grid-area: chats;
}
.chat{
    grid-area: chat;
}