*{
    margin: 0px;
    padding: 0px;
}

/* .app{
    height: 1080px;
    display: grid;
    grid-template-columns: 290px 815px 815px;
    grid-template-areas: "navbar chats chat";

} */

.app{
    height: 1080px;
    display: grid;
    grid-template-columns: 290px 1630px;
    grid-template-rows: 1080px;
    grid-template-areas: "navbar content";

}
.app-content{
    grid-area: content;
}
